@font-face {
    font-family: "Coolvetica";
    src: local("Coolvetica"), url("./font/coolvetica\ rg.otf") format("truetype");
}

main {
    flex-grow: 1;
    margin: 0px 0px;
    
}
body{
    background-color: #EFF2F4 !important;
}

